
.img-bg{
  background-image: url(../assets/images/bg_auth3.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  overflow-y: auto;
  padding-right: 15px;
}

.logo-container{
  text-align: center;
  img{
    height: 150px;
    width: 150px;
    display: inline-block;
  }

}
.content{
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  .remember-me{
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 5px;
  }
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  [type="checkbox"]:not(:checked)+label:before,
  [type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 26px;
    height: 26px;
    outline: none;
  }

  [type="checkbox"]:not(:checked)+label:after,
  [type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 24px;
    line-height: 0.8;
    color: #2b6e2e;
    transition: all .2s;
  }

  [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
  }
}
